header {
    background-color: #ff0000;
    height: 115px;
}

.cabecalho {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.cabecalho__logo {
    width: 80px;
    height: 80px;
}

.cabecalho__logo img {
    max-width: 100%;
    height: auto;
}

nav {
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: #333;
}

.cart {
    cursor: pointer;
}

@media (max-width: 900px) {
    .logo {
        width: 100px;
    }

    nav {
        display: flex;
    }

    .hamburger {
        display: block;
        font-size: 1.5em;
    }

    .menu {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #F5F5F5;
    }

    .menu li {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    .menu a {
        display: block;
        padding: 10px;
    }
}