header {
    background-color: #ff0000;
    height: 115px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.fa-shopping-cart {
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

.cabecalho-logo img {
    height: 80px;
    width: 80px;
}

.fa-bars,
.fa-shopping-cart {
    font-size: 25px;
    color: #000;
    cursor: pointer;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

form {
    width: 100%;
}

.cabecalho-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
}

.cabecalho-search input {
    font-size: 20px;
    border-radius: 8px;
    border: 1px;

}

.cabecalho-search button {
    font-size: 18px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
}
