.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    margin: 0 1.3rem;
}

.grid-item {
    background: linear-gradient(to top, #6c96d4, #00658d);
    border: 1px solid #999;
    text-align: center;
    border-radius: 10px;
}

.grid-img {
    height: 50px;
    width: 60px;
    margin: 8px 0;
}

.nome-item{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

.preco-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin: 8px;
}

.desc-item{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
}